<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<display-name>Archetype Created Web Application</display-name>
	<servlet>
		<servlet-name>Organizer</servlet-name>
		<servlet-class>com.controller.Organizer</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Organizer</servlet-name>
		<url-pattern>/Organizer</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddCourse</servlet-name>
		<servlet-class>com.controller.AddCourse</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddCourse</servlet-name>
		<url-pattern>/AddCourse</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddAssignment</servlet-name>
		<servlet-class>com.controller.AddAssignment</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddAssignment</servlet-name>
		<url-pattern>/AddAssignment</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UpdateAssignmentStatus</servlet-name>
		<servlet-class>com.controller.UpdateAssignmentStatus</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateAssignmentStatus</servlet-name>
		<url-pattern>/UpdateAssignmentStatus</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DeleteAssignment</servlet-name>
		<servlet-class>com.controller.DeleteAssignment</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteAssignment</servlet-name>
		<url-pattern>/DeleteAssignment</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DeleteCourse</servlet-name>
		<servlet-class>com.controller.DeleteCourse</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteCourse</servlet-name>
		<url-pattern>/DeleteCourse</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ArchiveAssignments</servlet-name>
		<servlet-class>com.controller.ArchiveAssignments</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ArchiveAssignments</servlet-name>
		<url-pattern>/ArchiveAssignments</url-pattern>
	</servlet-mapping>
</web-app>